body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding: 20px;
}

.movie {
  background: #222;
  padding: 10px;
  border-radius: 10px;
}

.movie img {
  width: 100%;
  border-radius: 10px;
}
