body {
  background: #0f0f0f;
  color: white;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
}

h1 {
  font-size: 40px;
  margin: 20px 0;
  letter-spacing: 2px;
}

#movies {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

#movies div {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 12px;
  width: 160px;
}

#movies img {
  width: 100%;
  border-radius: 10px;
}

#movies p {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}
