body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial;
}

h1 {
  font-size: 48px;
  margin: 20px;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

#movies div {
  background: #222;
  padding: 15px;
  border-radius: 15px;
}

img {
  width: 100%;
  border-radius: 10px;
}

p {
  font-size: 20px;
  margin-top: 10px;
}